<nav class="flex items-center justify-around w-[59rem]">
  <ul>
    <li><a class="transition-all duration-500 ease-in-out hover:font-bold" href="#">INÍCIO</a></li>
  </ul>
  <ul>
    <li><a class="hover:font-bold" href="#quem">QUEM SOMOS</a></li>
  </ul>
  <ul>
    <li><a class="hover:font-bold" href="#tecnica">TÉCNICAS</a></li>
  </ul>
  <ul>
    <li><a class="hover:font-bold" href="#onde">ONDE ESTAMOS</a></li>
  </ul>
  <ul>
    <li><a class="hover:font-bold" href="#contato">CONTATO</a></li>
  </ul>