<div
  class="w-80 h-full border-t-4 border-t-blue border-solid shadow-black shadow-lg rounded-b-3xl flex flex-col items-center justify-between py-2 px-5 font-manroge">
  <img [ngClass]="(isSmallScreen$ | async)?'w-40':'w-56'" src={{serviceInfo.img}} alt="">
  <div class="flex flex-col justify-evenly gap-4 h-full">
    <h2 class="text-xl font-bold text-center uppercase">{{serviceInfo.nome}}</h2>
    <p class="text-base text-center">{{serviceInfo.descricao.paragrafo1}}</p>
  </div>
  <button (click)="handleModal($event)" class="text-blue px-4 py-2 rounded-md">
    Saiba mais
  </button>
</div>
<div *ngIf="showModal"
  class="fixed right-0 top-0 z-10 overflow-y-auto w-full h-full flex items-center justify-center bg-blue bg-opacity-50">
  <div
    class="bg-white w-[95%] h-[95%] rounded-lg text-left overflow-hidden shadow-xl transform transition-all relative">
    <div class="bg-white px-4 pt-5 w-11/12 h-[90%] pb-4 ">
      <div class="flex flex-col items-center justify-center">
        <img [ngClass]="(isSmallScreen$ | async)?'w-32':'w-56'" src={{serviceInfo.img}} alt="">
        <h3 class="text-4xl leading-6 font-medium text-gray-900 text-center uppercase">
          {{serviceInfo.nome}}
        </h3>
      </div>
      <div class="overflow-y-auto h-4/6 flex flex-col gap-3 p-4">
        <p *ngFor="let paragraph of serviceInfo.modal" class="text-xl text-justify">
          {{paragraph.paragrafo}}
        </p>
      </div>
    </div>
    <button type="button" (click)="handleModal($event)"
      class="w-11 h-11 text-3xl justify-center rounded-[100%] border border-transparent shadow-sm p-1 bg-blue font-medium text-white hover:bg-white hover:text-blue transition-all duration-500 ease-in-out absolute right-2 top-2 ">
      X
    </button>
  </div>
</div>