<label class="uppercase" for="{{question.question}}">{{question.question}}{{question.required&&'*'}}</label>
<input *ngIf="question.type!=='textarea'" class="border-2 border-solid rounded-3xl px-3 h-10 w-full"
  [ngClass]="{ 'border-[red]': !question.value, 'border-black': !question.error,'bg-gray bg-opacity-20 cursor-not-allowed': disabled }"
  [(ngModel)]="question.value" placeholder="{{question.mask||question.question}}"
  (ngModelChange)="onModelChange($event, 'question')" [mask]="question?.mask" [disabled]="disabled" (blur)="onBlur()"
  (focus)="onFocus()" type="{{question.type}}">

<textarea [ngClass]="{ 'border-[red]': !question.value, 'border-black': !question.error }"
  *ngIf="question.type==='textarea'" class="border-2 border-solid border-black rounded-3xl h-40 p-3 w-full"
  [(ngModel)]="question.value" (ngModelChange)="onModelChange($event, 'question')" (blur)="onBlur()"
  (focus)="onFocus()"></textarea>