<div class="w-full bg-cover bg-no-repeat bg-right bg-[url('/assets/site/capa.svg')] h-[50rem] flex items-center">
  <div class="flex flex-col justify-center items-start w-3/4 h-full pl-10 bg-gradient-to-r from-white gap-20">
    <h2 class="text-6xl font-manroge">Pioneiros no Brasil de várias <span class="text-blue">técnicas</span>
      como
      MICROFISIOTERPIA, PSYCH-K®
      e BIODECODAGE</h2>
    <app-button text="Agende já sua consulta" class="w-fit"
      click="https://api.whatsapp.com/message/QONW6E37X27CJ1?autoload=1&app_absent=0"></app-button>
  </div>
</div>