<button (click)="toggleMenu()">☰</button>
<nav class='absolute top-0 right-0 bg-blue w-full h-full flex flex-col items-center gap-5 p-5' *ngIf="isOpen">
  <button class="text-white w-10 h-10 border-white border-2 border-solid rounded-[100%] absolute top-2 right-2"
    (click)="toggleMenu()">X</button>
  <ul class="text-3xl text-white w-full h-full flex flex-col items-center justify-evenly">
    <app-menu-item class="w-full" *ngFor="let menu of menus" (click)='toggleMenu()' text={{menu.text}}
      ref={{menu.ref}} />
  </ul>
</nav>